.input__element {
    width: 100%;
    padding: 0 18px;
    height: 48px;
    background-color: #fff;
    border-radius: 4px;
    margin: 8px 0;
    font-size: 14px;
    font-weight: 400;
    box-shadow: 2px 2px 0 2px transparent;
    border: 1px solid #b8b8b8;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
}

.input__container {
    position: relative;
}

.input__label {
    font-weight: 500;
    margin-bottom: 8px;
    font-size: 16px;
    color: #3d3d3d;
    user-select: none;
    text-align: left;
}

.input__group {
    margin-bottom: 8px;
}

.toggler {
    height: 46px;
    background-color: #f5f5f5;
    border-left: 1px solid #b8b8b8;
    border-radius: 0 4px 4px 0;
    width: 90px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    right: 1px;
    top: 9px;
}

.toggler:hover {
    background-color: #e0e0e0;
}

.toggler__show {
    display: block;
}

.toggler__hide {
    display: none;
}

.container {
    width: 250px;
}

.tooltip__header {
    margin: 6px 0;
}
.tooltip__list {
    margin: 5px 0 5px 0;
    padding: 0 15px;
    list-style-type: none;
    text-align: left;
    line-height: 1.5em;
}

.tooltip__list li > svg {
    margin-right: 10px;
}
